.DS_Store
.Rhistory
.RData
.Rproj.user/
.quarto/
_freeze/

# Sources anciennes privées
anciens_documents/sources_privees/
anciens_documents/brouillons/

# Données locales volumineuses ou confidentielles
donnees/brutes/*
!donnees/brutes/.gitkeep
donnees/preparees/*
!donnees/preparees/.gitkeep
donnees/simulees/*
!donnees/simulees/.gitkeep


/.quarto/

**/*.quarto_ipynb

# Sources vidéo locales volumineuses, publiées sur une plateforme vidéo
modules/**/media/videos/*.mp4
modules/**/media/videos/*.mov

# Copies créées par le système de fichiers
**/* 2.qmd
**/* 2.csv
**/.gitkeep 2
