.DS_Store
.Rhistory
.RData
.Rproj.user/
.quarto/
_freeze/

# Sources anciennes privées
anciens_documents/sources_privees/

# Données locales volumineuses ou confidentielles
donnees/brutes/*
!donnees/brutes/.gitkeep
donnees/preparees/*
!donnees/preparees/.gitkeep
donnees/simulees/*
!donnees/simulees/.gitkeep


/.quarto/
